{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block title %}{{ object }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li class="breadcrumb-item">
    <a href="{% url 'plugins:netbox_rms:resourceledger_list' %}">{% trans "资源台账" %}</a>
</li>
<li class="breadcrumb-item active">{{ object.resource_id }}</li>
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "资源信息" %}</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "资源类型" %}</th>
                        <td>{{ object.get_resource_type_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "资源标识" %}</th>
                        <td>{{ object.resource_id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "资源名称" %}</th>
                        <td>{{ object.resource_name|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "来源工单" %}</th>
                        <td>
                            <a href="{{ object.service_order.get_absolute_url }}">{{ object.service_order.order_no }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">{% trans "状态" %}</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "生命周期状态" %}</th>
                        <td>
                            <span class="badge bg-{{ object.get_status_color }}">
                                {{ object.get_lifecycle_status_display }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "创建时间" %}</th>
                        <td>{{ object.created }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "更新时间" %}</th>
                        <td>{{ object.last_updated }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% if object.snapshot %}
<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">{% trans "资源快照" %}</h5>
            <div class="card-body">
                <pre class="mb-0">{{ object.snapshot|pprint }}</pre>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if object.comments %}
<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">{% trans "备注" %}</h5>
            <div class="card-body">{{ object.comments|linebreaksbr }}</div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
